footer
    .wrapper
        nav 
            +menu
        hr
        .footer-info
            p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
            .soc
                a(href="#") 
                    <svg class="icon fb">
                        <use xlink:href="#fb"></use>
                    </svg>
                a(href="#") 
                    <svg class="icon tw">
                        <use xlink:href="#tw"></use>
                    </svg>
                a(href="#") 
                    <svg class="icon google">
                        <use xlink:href="#google"></use>
                    </svg>
                a(href="#") 
                    <svg class="icon inst">
                        <use xlink:href="#inst"></use>
                    </svg>