footer
    .wrapper
        nav 
            +menu
        hr
        .footer-info
            p © 2017 Mass Impressions & Tranmautritam. Make the right impression.
            .soc
                a(href="#") <i class="fa-brands fa-facebook-f"></i>
                a(href="#") <i class="fa-brands fa-twitter"></i>
                a(href="#") <i class="fa-brands fa-google-plus-g"></i>
                a(href="#") <i class="fa-brands fa-instagram"></i>