header
    .wrapper.header-line
        nav 
            +menu
    .wrapper.header-title
        div 
            .marketing_analytics
                p SOCIAL MARKETING & ANALYTICS

            h1 Pricing Table

            .header-info
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                
        a(href="#").header-arrow <i class="fa-solid fa-arrow-down"></i>
