mixin menu
  a(href="/" class="logo")
    img(src="img/logo.png", alt="")
    | MISOCIAL
  .menu
    ul
      li
        a(href="#") Home
      li
        a(href="#") Why MISOCIAL
      li
        a(href="#") Features
      li
        a(href="#") Articles
      li
        a(href="#") Pricing
      a(href="#") get started

mixin card(altText, imagePath, price)
  div.card
    img(src=imagePath, alt=altText)
    h2.card-name personal
    p.price
      sup $
      | #{price}
      | /month
    p.card-info Lorem ipsum dolor sit amet. sed do eiusmod tempor incididunt ut. Labore et dolore magna aliqua. quis nostrud exercitation ullamco laboris.
    a(href="#") select plan
