mixin menu
  a(href="/" class="logo")
    img(src="img/logo.png", alt="")
    | MISOCIAL
  .menu
    ul
      li
        a(href="#") Home
      li
        a(href="#") Why MISOCIAL
      li
        a(href="#") Features
      li
        a(href="#") Articles
      li
        a(href="#") Pricing
      a(href="#") get started